{% extends "./base.html" %}

{% block body %}
<div class="container">
  <main>
    <div class="col-xs-12 mt-5 mb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Todoフォーム</h5>
          <form action="/todo/regist/" method="POST">
            {% csrf_token %}
            <div class="form-group">
              {{ form.text.label_tag }}
              {{ form.text }}
            </div>
            <div class="form-group">
              {{ form.is_done.label_tag }}
              {{ form.is_done }}
            </div>

            <button type="submit" class="btn btn-primary">登録</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-xs-12 mb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Todoリスト</h5>
          <table class="table table-striped table-bordered">
            <tr>
              <th>#</th>
              <th>やること</th>
              <th class="text-center" style="width:150px;">完了ステータス</th>
              <th class="text-center" style="width:200px;">操作</th>
            </tr>
            {% for todo in items %}
            <tr>
              <td>{{ todo.id }}</td>
              <td>{{ todo.text }}</td>
              <td class="text-center">
                {% if todo.is_done %}
                <span class="badge badge-success">完了</span>
                {% else %}
                <span class="badge badge-danger">未完</span>
                {% endif %}
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-success editBtn" data-toggle="modal" data-target="#editModal" data-id="{{ todo.id }}">編集</button>
                <form action="/todo/delete/" method="POST" style="display:contents;">
                  {% csrf_token %}
                  <input type="hidden" name="todo_id" value="{{  todo.id }}">
                  <button type="submit" class="btn btn-danger">削除</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

    {% include './edit_modal.html' %}
  </main>
</div>
{% endblock %}

{% block js %}
<script>
console.log(document.cookie);
$('.editBtn').on('click', function(){
  var todoId = $(this).attr('data-id');
  $.ajax({
      type: 'GET',
      url: '/todo/detail/' + todoId + '/'
    })
    .done(function(data) {
      $('#edit_id').val(data.id);
      $('#edit_text').val(data.text);
      $('#edit_status').val(data.is_done);
    })
    .fail(function() {
      alert('error');
    });
});
</script>
{% endblock %}